/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}

body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#717171;
	min-width:960px;
	background:#f9f9f9;
}
/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}
.bg {width:100%; background:url(../images/bg-top.jpg) center 0 no-repeat;}

.main {
	width:960px; 	
	padding:0;
	margin:0 auto;
	font-size:0.75em;
	line-height:1.5em;
}

a {color:#377802; outline:none;}
a:hover {text-decoration:none;}

.col-1, .col-2, col-3 {float:left; width:40px;}
.col-1 {margin-right:5px;}
.col-2 {margin-right:5px;}
.column-1, .column-2 {float:left; width:192px;}
.column-1 {margin-right:22px;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
 
p {margin-bottom:18px;}
.p1 {margin-bottom:5px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:43px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.it {font-style:italic;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#68d600;}
.color-4 {color:#63c422;}

.letter {letter-spacing:-1px;}

.index-1 {
	position:relative;
	z-index:10;
}

/*********************************boxes**********************************/
.indent-top {padding-top:40px;}
.indent-left {padding-left:50px;}
.indent-right {padding-right:50px;}

.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.prev-indent-bot {margin-bottom:10px;}
.img-indent-bot {margin-bottom:25px;}
.margin-bot {margin-bottom:35px;}

.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.list-2 li a,
.link,
.button-1,
.button-2,
.button-3,
h1 a {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
}

.row-top {
	width:100%;
	background:url(../images/row-top-tail.gif) center top repeat-x #1f1f1f;
	padding-bottom:24px;
}
	#page1 .row-top  {padding-bottom:32px;}
.row-bot {
	width:100%;
	background:url(../images/row-bot-tail.gif) center top repeat;
	padding:19px 0 21px;
}

h1 {
	padding:4px 0 0 0px; 
	position:relative;
	float:left;
}
	h1 a {
		display:block; 
		width:260px;
		height:85px;
		text-indent:-9999px;
		background:url(../images/salemilogo.png) 0 0 no-repeat;
	}
	
/***** menu *****/
.menu {
	padding:34px 5px 0 0; 
	float:right;
}
.menu li {
	float:left; 
	position:relative;
	background:url(../images/menu-spacer.gif) 0 0 no-repeat;
	padding:0 19px 0 21px;
}
.menu li:first-child {background:none; padding-left:0;}
.menu > li > a {
	display:inline-block; 
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:15px; 
	font-weight:700;
	line-height:1.2em; 
	padding:0; 
	color:#676767; 
	text-transform:uppercase;
}
.menu li a.active,
.menu > li > a:hover,
.menu > li.sfHover > a {color:#fff;}
.menu li a .sf-sub-indicator {
	display:block;
	width:10px;
	height:5px;
	text-indent:-9999px;
	background:url(../images/menu-submarker.png) 0 0 no-repeat;
	position:absolute;
	left:30px;
	top:-999em;
	z-index:99;
}
	.menu li.sfHover a .sf-sub-indicator {top:38px;}
.menu ul {
	position:		absolute;
	padding:		6px 0 8px 20px;
	top:			-999em;
	width:			131px;
	background:		#303030;
}
.menu ul ul {background:#434343;}
.menu ul li {width:	100%;}
.menu li:hover {visibility:	inherit; }
.menu li li {background:none; padding:7px 0 6px;}
.menu li li a {
	display:		inline-block;
	font-family:	Arial, Helvetica, sans-serif;
	font-size:		12px;
	line-height:	15px;
	font-weight:	bold;
	color:			#a5a5a5;
	text-transform:capitalize;
}
.menu li li > a:hover, 
.menu li li.sfHover > a {
	color:#6bd800; 
}

.menu li:hover ul, .menu li.sfHover ul {
	left:			7px;
	top:			43px;
	z-index:		999;
}
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
	top:			-999em;
}
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
	left:			123px;
	top:			-5px;
	z-index:		9999;
}
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
	top:			-999em;
}

/***** slider *****/
.slider-wrapper {
	width:940px;
	height:495px;
	padding:0;
	margin:-41px 0 -46px;
	background:url(../images/slider-bg.png) 0 0 no-repeat;
	overflow:hidden;
}
.slider {
	position:relative;
	width:940px;
	height:397px;
}
.items {display:none;} 

.banner {
	width:319px;
	height:397px;
	font-size:13px;
	line-height:18px;
	color:#fff;
	background:url(../images/banner-bg.jpg) 0 0 no-repeat;
	position:absolute;
	overflow:hidden;
	top:0px;
	left:621px;
	z-index:99;
}
.banner-bg {
	width:319px;
	height:397px;
	background:url(../images/banner-bg.jpg) 0 0 no-repeat;
	position:absolute;
	top:0px;
	left:621px;
}

	.banner .padding {padding:65px 40px 40px 40px;}
	.banner p {text-shadow:1px 1px #56ad00;}
	.title-1 {
		display:block;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size:30px;
		line-height:1.2em;
		color:#fff;
		font-weight:700;
		text-transform:uppercase;
		margin-bottom:-5px;
	}
		.title-1 span {
			display:block;
			margin-top:-8px;
		}
	.title-2 {
		display:block;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size:76px;
		line-height:1.2em;
		color:#fff;
		font-weight:400;
		margin-bottom:15px;
	}
	.title-3 {
		display:block;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size:59px;
		line-height:1.2em;
		color:#fff;
		font-weight:400;
		margin-bottom:15px;
		letter-spacing:-1px;
	}
		
.pagination {
	position:absolute;
	bottom:-20px;
	left:27px;
	z-index:99;
}
.pagination li {
	float:left;
	margin:0 21px 0 0;
}
	.pagination li a {
		display:block;
		width:101px;
		height:46px;
		text-indent:-9999px;
		background:url(../images/slider-padination.jpg) 0 top no-repeat;
		cursor:pointer;
	}
	.pagination li a.item-1 {background-position:-121px top;}
	.pagination li a.item-2 {background-position:-243px top;}
	.pagination li a.item-3 {background-position:-365px top;}
	.pagination li.current a {cursor:default;}
	.pagination li a:hover,
	.pagination li.current a {background-position:left bottom;}
	.pagination li a.item-1:hover,
	.pagination li.current a.item-1 {background-position:-121px bottom;}
	.pagination li a.item-2:hover,
	.pagination li.current a.item-2 {background-position:-243px bottom;}
	.pagination li a.item-3:hover,
	.pagination li.current a.item-3 {background-position:-365px bottom;}

/*********************************content*************************************/
#content {
	width:100%; 
	padding:59px 0 63px;
	background:#fff;
	position:relative;
	z-index:1;
}
#content2 {
	width:100%; 
	padding:20px 0 63px;
	background:#fff;
	position:relative;
	z-index:1;
}
	#page1 #content {padding:54px 0 10px;}

.spacer-1 {
	width:100%; 
	background:url(../images/pic-1.gif) 217px 0 repeat-y;
}

h3 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:28px; 
	line-height:2em; 
	color:#2f6f01;
	font-weight:400;
	text-transform:uppercase;
}
h4 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:24px; 
	line-height:2em; 
	color:#232323;
	font-weight:400;
	margin-bottom:5px;
}
h5 {
	color:#2f6f00;
	font-weight:normal;
}
h6 {
	font-size:12px;
	line-height:20px;
	text-transform:uppercase;
	color:#2f6f00;
}

.border-bot {
	width:100%; 
	padding-bottom:18px; 
	background:url(../images/pic-4.gif) 0 bottom repeat-x;
}

.box {
	width:100%; 
	background:#eee;
	font-size:13px;
	line-height:18px;
}
	.box .padding {padding:15px 15px 18px 18px;}
	
.block {
	width:291px; 
	background:#eee;
}
.block:hover {background:#222; color:#fff;}
	.block .padding {padding:15px;}
	
.block-1 {
	width:100%; 
	background:#eee;
}
	.block-1 .padding {padding:15px;}
	
.numb {
	padding-bottom:13px;
	background:url(../images/numb-bot.jpg) left bottom no-repeat;
}
	.numb strong {
		display:block;
		width:51px;
		height:51px;
		overflow:hidden;
		text-align:center;
		font-size:35px;
		line-height:51px;
		color:#fff;
		background:url(../images/numb.jpg) 0 0 no-repeat;
	}
	
blockquote {
	width:100%;
	padding-bottom:29px;
	background:url(../images/quote-bot.jpg) left bottom no-repeat;
	line-height:20px;
}
.quote-tail {
	border-top:1px solid #e1e0df;
	border-left:1px solid #e1e0df;
	border-right:1px solid #e1e1e1;
	background:url(../images/quote-tail.gif) left top repeat-x #eae8e6;
	border-radius:10px 10px 0 0;
}
	.quote {
		width:100%;
		background:url(../images/quote.png) 18px 13px no-repeat;
	}
		.quote .padding {padding:25px 10px 18px 35px;}

.button-1 {
	display:inline-block; 
	padding:4px 17px;
	font-size:11px;
	line-height:2em;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff; 
	background:url(../images/button1-tail.gif) 0 0 repeat-x #1e1e1e;
	box-shadow:1px 1px 2px #4a9300;
	margin-bottom:2px;
	cursor:pointer;
}
.button-1:hover {background:#1e1e1e;}

.button-2 {
	display:inline-block; 
	padding:2px 47px 3px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:26px;
	line-height:2em;
	font-weight:700;
	text-transform:uppercase;
	color:#323232; 
	border:1px solid #c1c1c1;
	background:url(../images/button2-tail.gif) 0 0 repeat-x #ededed;
	box-shadow:1px 1px 3px #e9e9e9;
	margin-bottom:3px;
	cursor:pointer;
}
.button-2:hover {background:#3e7f00; color:#fff;}

.button-3 {
	display:inline-block; 
	padding:4px 17px;
	font-size:11px;
	line-height:2em;
	font-weight:bold;
	text-transform:uppercase;
	color:#414141; 
	background:url(../images/button3-tail.gif) 0 0 repeat-x #eee;
	border:1px solid #c1c1c1;
	box-shadow:1px 1px 3px #e9e9e9;
	border-radius:2px;
	margin-bottom:3px;
	cursor:pointer;
}
.button-3:hover {background:#414141; color:#eee; border-color:#414141;}

.list-1 li {
	line-height:22px; 
	padding-left:12px; 
	background:url(../images/marker-2.gif) 0 8px no-repeat;
}
	.list-1 li a {
		display:inline-block;
		color:#fff;
	}
	.list-1 li a:hover {color:#1799cf;}

.list-2 li {
	font-size:14px; 
	line-height:24px; 
	padding:0px; 
	background:url(../images/pic-1.gif) 0 bottom repeat-x;
}
	.list-2 li a {
		display:block; 
		color:#1799cf; 
		padding-left:12px; 
		background:url(../images/marker-1.gif) 0 10px no-repeat;
	}
	.list-2 li a:hover {color:#fff;}
	.list-2 .last-item {background:none;}

.link:hover {text-decoration:underline;} 

.link-1 {
	display:inline-block; 
	font-size:14px; 
	padding-right:8px; 
	background:url(../images/marker-3.gif) right 8px no-repeat;
}
.link-1:hover {color:#fff;} 

.text-1 {line-height:20px;font-size:14px;} 
.text-2 {
	display:block;
	font-size:12px;
	line-height:20px;
	color:#4e4e4e;
}  

dl {line-height:20px;}
dl span {float:left; width:71px;font-size:14px;}

/***** contact form *****/
#contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
	}
	#contact-form fieldset {
		border:none;
		padding:0;
		}			
			#contact-form label {
				display:block;
				min-height:46px;
			}
			#contact-form label.message {height:258px;}
			#contact-form input {
				width:322px;
				padding:11px 10px;
				margin:0;
				font-family:Arial, Helvetica, sans-serif;
				font-size:14px;
				line-height:1.25em;
				color:#717171; 
				border:1px solid #e1e1e1;
				background:#fff;
				outline:none;
			}
			#contact-form .area .error { float:none;}
			#contact-form textarea {
				height:240px;
				overflow:auto;
				width:598px;
				padding:8px 10px;
				margin:0;
				font-family:Arial, Helvetica, sans-serif;
				font-size:14px;
				line-height:1.25em;
				color:#717171; 
				border:1px solid #e1e1e1;
				background:#fff;
				outline:none;
			}
			#contact-form a {cursor:pointer;}
				#contact-form .success {display:none; margin-bottom:20px;}
				#contact-form .error,
				#contact-form .empty {
					color:#f00;
					font-size:11px;
					line-height:2em;
					display:none;
					overflow:hidden;
				}
		.buttons-wrapper { padding:35px 0 0 0; text-align:right;}
		.buttons-wrapper a { margin-left:25px;}
		
/****************************footer************************/
footer {
	width:100%; 
	padding:45px 0 80px;
}

.footer-logo {
	display:block;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:30px; 
	line-height:2em; 
	color:#686868;
	margin-bottom:5px;
}
.footer-text {
	display:block;
	color:#4e4e4e;
}
	.footer-text a {color:#909090;}

.list-services {
	padding:0;
}
	.list-services li {
		float:left; 
		line-height:18px;
		padding:6px 0;
	}
		.list-services li a {
			display:inline-block;
			padding-left:28px;
			color:#4e4e4e;
			background:url(../images/social-icons.jpg) 0 2px no-repeat;
			text-decoration:none;
		}
		.list-services li.it-2 a {background-position:left bottom;}
		.list-services li.it-3 a {background-position:-105px 2px;}
		.list-services li.it-4 a {background-position:-105px bottom;}
		.list-services li a:hover {text-decoration:underline;}
		
/******************************* SHOWCASE *******************************/

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 680px;
	height:120px;

	/* custom decorations */
	border:1px solid #ccc;
	background:url(/img/global/gradient/h300.png) repeat-x;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items2 {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items2 div {
	float:left;
	width:680px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:20px 5px 20px 21px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:100px;
	height:75px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(http://www.remagine.com/salemi/images/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:40px 10px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down		{ 
	background:url(http://www.remagine.com/salemi/images/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	