#featured {
        background: #ffffff url(../images/featured.jpg) no-repeat 0 100%;
	width:304px;
	height: 231px;
	margin: 0px;
	padding: 0px;
}
#consulting {
        background: #ffffff url(../images/consulting.jpg) no-repeat 0 100%;
        width:319px;
        height: 231px;
        margin: 0px;
        padding: 0px;
}
#solutions {
        background: #ffffff url(../images/solutions.jpg) no-repeat 0 100%;
        width:311px;
        height: 231px;
        margin: 0px;
        padding: 0px;
}

.missionnav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/mission2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 340px;
        height: 38px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.missionnav a {
        display:block;
        font-size: 11px;
        width: 340px;
        height: 38px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.missionnav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.missionnav a:hover img {visibility:hidden}
.missionnav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}




.servicesnav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/services2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 340px;
        height: 36px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.servicesnav a {
        display:block;
        font-size: 11px;
        width: 340px;
        height: 36px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.servicesnav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.servicesnav a:hover img {visibility:hidden}
.servicesnav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}




.supportnav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/support2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 340px;
        height: 38px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.supportnav a {
        display:block;
        font-size: 11px;
        width: 340px;
        height: 38px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.supportnav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.supportnav a:hover img {visibility:hidden}
.supportnav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}





.showcasenav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/affiliates2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 340px;
        height: 38px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.showcasenav a {
        display:block;
        font-size: 11px;
        width: 340px;
        height: 38px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.showcasenav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.showcasenav a:hover img {visibility:hidden}
.showcasenav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}




.contactnav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/contact2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 340px;
        height: 36px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.contactnav a {
        display:block;
        font-size: 11px;
        width: 340px;
        height: 36px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.contactnav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.contactnav a:hover img {visibility:hidden}
.contactnav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}





.aboutnav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/aboutus2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 340px;
        height: 34px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.aboutnav a {
        display:block;
        font-size: 11px;
        width: 340px;
        height: 34px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.aboutnav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.aboutnav a:hover img {visibility:hidden}
.aboutnav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}







.tcomnav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/telecommunications_2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 190px;
        height: 35px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.tcomnav a {
        display:block;
        font-size: 11px;
        width: 190px;
        height: 35px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.tcomnav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.tcomnav a:hover img {visibility:hidden}
.tcomnav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}



.dmnav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/dataManagement_2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 234px;
        height: 35px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.dmnav a {
        display:block;
        font-size: 11px;
        width: 234px;
        height: 35px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.dmlnav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.dmnav a:hover img {visibility:hidden}
.dmnav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}




.isolnav {
        position:relative;
        font-family: arial, verdana, helvetica, sans-serif;
        background-image: url(../images/internetSolutions_2.jpg);
        background-repeat: no-repeat;
        display: block;
        width: 200px;
        height: 35px;
        margin: 0;
        margin-bottom:0px;
        padding: 0;
}

.isolnav a {
        display:block;
        font-size: 11px;
        width: 200px;
        height: 35px;
        float: left;
        margin: 0;
        padding: 0;
        color: black; text-decoration: none;
}

.isolnav img {
        width: 100%;
        height: 100%;
        border: 0;
}
* html a:hover {visibility:visible}
.isolnav a:hover img {visibility:hidden}
.isolnav span {
        position:absolute;
        left:5px;
        top:3px;
        margin:0;
        cursor: pointer;
}

#container {
        width:995px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
}


.ts-1 {
	border: none;
	height: 678px;
	position: relative;
	text-align: left;
	width: 996px;
}

.ts-1-1 {
	border: none;
	height: 67px;
	left: 0px;
	line-height: 67px;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 655px;
}

.ts-1-2 {
	border: none;
	height: 56px;
	left: 655px;
	line-height: 56px;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 340px;
}

.ts-1-3 {
	border: none;
	height: 56px;
	left: 995px;
	line-height: 56px;
	padding: 0px;
	position: absolute;
	top: 0px;
	width: 1px;
}

.ts-1-4 {
	border: none;
	height: 11px;
	left: 655px;
	line-height: 11px;
	padding: 0px;
	position: absolute;
	top: 56px;
	width: 340px;
}

.ts-1-5 {
	border: none;
	height: 11px;
	left: 995px;
	line-height: 11px;
	padding: 0px;
	position: absolute;
	top: 56px;
	width: 1px;
}

.ts-1-6 {
	border: none;
	height: 272px;
	left: 0px;
	line-height: 272px;
	padding: 0px;
	position: absolute;
	top: 67px;
	width: 31px;
}

.ts-1-7 {
	border: none;
	height: 237px;
	left: 31px;
	line-height: 237px;
	padding: 0px;
	position: absolute;
	top: 67px;
	width: 624px;
}

.ts-1-8 {
	border: none;
	height: 38px;
	left: 655px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	top: 67px;
	width: 340px;
}

.ts-1-9 {
	border: none;
	height: 38px;
	left: 995px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	top: 67px;
	width: 1px;
}

.ts-1-10 {
	border: none;
	height: 34px;
	left: 655px;
	line-height: 34px;
	padding: 0px;
	position: absolute;
	top: 105px;
	width: 340px;
}

.ts-1-11 {
	border: none;
	height: 34px;
	left: 995px;
	line-height: 34px;
	padding: 0px;
	position: absolute;
	top: 105px;
	width: 1px;
}

.ts-1-12 {
	border: none;
	height: 36px;
	left: 655px;
	line-height: 36px;
	padding: 0px;
	position: absolute;
	top: 139px;
	width: 340px;
}

.ts-1-13 {
	border: none;
	height: 36px;
	left: 995px;
	line-height: 36px;
	padding: 0px;
	position: absolute;
	top: 139px;
	width: 1px;
}

.ts-1-14 {
	border: none;
	height: 38px;
	left: 655px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	top: 175px;
	width: 340px;
}

.ts-1-15 {
	border: none;
	height: 38px;
	left: 995px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	top: 175px;
	width: 1px;
}

.ts-1-16 {
	border: none;
	height: 38px;
	left: 655px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	top: 213px;
	width: 340px;
}

.ts-1-17 {
	border: none;
	height: 38px;
	left: 995px;
	line-height: 38px;
	padding: 0px;
	position: absolute;
	top: 213px;
	width: 1px;
}

.ts-1-18 {
	border: none;
	height: 55px;
	left: 655px;
	line-height: 55px;
	padding: 0px;
	position: absolute;
	top: 251px;
	width: 340px;
}

.ts-1-19 {
	border: none;
	height: 53px;
	left: 995px;
	line-height: 53px;
	padding: 0px;
	position: absolute;
	top: 251px;
	width: 1px;
}

.ts-1-20 {
	border: none;
	height: 35px;
	left: 31px;
	line-height: 35px;
	padding: 0px;
	position: absolute;
	top: 304px;
	width: 200px;
}

.ts-1-21 {
	border: none;
	height: 35px;
	left: 231px;
	line-height: 35px;
	padding: 0px;
	position: absolute;
	top: 304px;
	width: 234px;
}

.ts-1-22 {
	border: none;
	height: 35px;
	left: 465px;
	line-height: 35px;
	padding: 0px;
	position: absolute;
	top: 304px;
	width: 190px;
}

.ts-1-23 {
	border: none;
	height: 2px;
	left: 995px;
	line-height: 2px;
	padding: 0px;
	position: absolute;
	top: 304px;
	width: 1px;
}

.ts-1-24 {
	border: none;
	height: 69px;
	left: 655px;
	line-height: 69px;
	padding: 0px;
	position: absolute;
	top: 306px;
	width: 340px;
}

.ts-1-25 {
	border: none;
	height: 33px;
	left: 995px;
	line-height: 33px;
	padding: 0px;
	position: absolute;
	top: 306px;
	width: 1px;
}

.ts-1-26 {
	border: none;
	height: 36px;
	left: 0px;
	line-height: 36px;
	padding: 0px;
	position: absolute;
	top: 339px;
	width: 655px;
}

.ts-1-27 {
	border: none;
	height: 36px;
	left: 995px;
	line-height: 36px;
	padding: 0px;
	position: absolute;
	top: 339px;
	width: 1px;
}

.ts-1-28 {
	border: none;
	height: 231px;
	left: 0px;
	line-height: 231px;
	padding: 0px;
	position: absolute;
	top: 375px;
	width: 31px;
}

.ts-1-29 {
	border: none;
	height: 231px;
	left: 31px;
	padding: 0px;
	position: absolute;
	top: 375px;
	width: 304px;
}

.ts-1-30 {
	border: none;
	height: 231px;
	left: 335px;
	padding: 0px;
	position: absolute;
	top: 375px;
	width: 319px;
}

.ts-1-31 {
	border: none;
	height: 231px;
	left: 654px;
	padding: 0px;
	position: absolute;
	top: 375px;
	width: 311px;
}

.ts-1-32 {
	border: none;
	height: 231px;
	left: 965px;
	line-height: 231px;
	padding: 0px;
	position: absolute;
	top: 375px;
	width: 30px;
}

.ts-1-33 {
	border: none;
	height: 231px;
	left: 995px;
	line-height: 231px;
	padding: 0px;
	position: absolute;
	top: 375px;
	width: 1px;
}

.ts-1-34 {
	border: none;
	height: 71px;
	left: 0px;
	line-height: 71px;
	padding: 0px;
	position: absolute;
	top: 606px;
	width: 995px;
}

.ts-1-35 {
	border: none;
	height: 71px;
	left: 995px;
	line-height: 71px;
	padding: 0px;
	position: absolute;
	top: 606px;
	width: 1px;
}

.ts-1-36 {
	border: none;
	height: 1px;
	left: 0px;
	line-height: 1px;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 31px;
}

.ts-1-37 {
	border: none;
	height: 1px;
	left: 31px;
	line-height: 1px;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 200px;
}

.ts-1-38 {
	border: none;
	height: 1px;
	left: 231px;
	line-height: 1px;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 104px;
}

.ts-1-39 {
	border: none;
	height: 1px;
	left: 335px;
	line-height: 1px;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 130px;
}

.ts-1-40 {
	border: none;
	height: 1px;
	left: 465px;
	line-height: 1px;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 189px;
}

.ts-1-41 {
	border: none;
	height: 1px;
	left: 654px;
	line-height: 1px;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 1px;
}

.ts-1-42 {
	border: none;
	height: 1px;
	left: 655px;
	line-height: 1px;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 310px;
}

.ts-1-43 {
	border: none;
	height: 1px;
	left: 965px;
	line-height: 1px;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 30px;
}

.ts-1-44 {
	border: none;
	height: 1px;
	left: 995px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	top: 677px;
	width: 1px;
}

H2 {
        font-family: Verdana, Tahoma, Arial;
        font-size: 12pt;
        font-weight: bold
}

BODY {
        font-family: Verdana, Tahoma, Arial;
        font-size: 8pt;
        font-weight: normal;
}

body,td,th {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #666666;
        list-style-image: url(images/bullet.png);
}

TABLE, TD {
        font-family:Verdana, Tahoma, Arial;
        font-size: 8pt;
        color:#000000
}

a:link {
        color: #336699;
        text-decoration: none;
}

a:visited {
        text-decoration: none;
        color: #336699;
}

a:hover {
        text-decoration: none;
        color: #CC6600;
}

a:active {
        text-decoration: none;
        color: #000000;
}

SELECT {
        background-color: #FFFFFF;
        color: #000000;
        font-size: 8pt;
        font-family: Verdana, Tahoma, Arial;
        font-weight: normal;
}

TABLE, TD {
        font-family:Verdana, Tahoma, Arial;
        font-size: 7.5pt;
        color:#666666;
}

.smallheaders {
        font-family: Verdana, Tahoma, Arial;
        font-size: 7.5pt;
        font-weight: bold;
        color: #666666;
}
.sub_text {
        font-family: Verdana, Tahoma, Arial;
        font-size: 8pt;
        color: #295e86;
}
.sub_text2 {
        font-family: Verdana, Tahoma, Arial;
        font-size: 9pt;
        color: #295e86;
}
.sub_text3 {
        font-family: Verdana, Tahoma, Arial;
        font-size: 9pt;
        color: #295e86;
	font-weight: bold;
}
.reNum {
        font-family: Verdana, Tahoma, Arial;
        font-size: 13pt;
        font-weight: bold;
        color: #295e86;
}
/*----Body Right Panel----*/
#rightPan{width:511px; float:left; border-left:0px solid #666666; margin:0px 0 0; padding:0 10px;}
#rightPan p{padding:0 0 10px 0;}
#rightPan p.more{width:502px; height:25px; float:left; background:url(images/sky-color-bg.gif) 0 10px repeat-x; padding:0 0 20px 0;}
#rightPan p.more a{width:92px; height:21px; display:block; background:url(images/icon2.jpg) 0 0 no-repeat #fff; color:#958201; line-height:21px; text-transform:uppercase; text-decoration:none; margin:0 0 0 328px; padding:4px 0 0 50px;}
#rightPan p.more a:hover{background:url(images/icon2.jpg) 0 0 no-repeat #fff; color:#645804; text-decoration:none;}

#rightPan h2{width:96px; height:77px; float:left; display:block; background:url(images/icon3.jpg) 8px 38px no-repeat #666666; color:#fff; font-size:16px; font-weight:bold; line-height:18px; text-transform:uppercase; padding:46px 0 0 75px; margin:0 0 5px 0;}

#rightPan ul.services{width:137px; height:220px; float:left; border:1px solid #666666; background:#fff; color:#5F7A77; padding:7px 0 0 25px;}

#rightPan ul.services li.captionone{background:#fff; color:#AC9601; font-size:14px; font-weight:bold; text-decoration:none; padding:0 0 10px 0;}

#rightPan ul.services li{width:137px; height:20px;}
#rightPan ul.services li a{width:125px; height:20px; display:block; background:url(images/bullet2-normal.gif) 0 7px no-repeat #fff; color:#5F7A77; text-decoration:none; line-height:20px; padding:0 0 0 12px;}
#rightPan ul.services li a:hover{background:url(images/bullet2-hover.gif) 0 7px no-repeat #fff; color:#5F7A77; text-decoration:none;}

#rightPan ul.servicestwo{width:137px; height:220px; float:left; border-bottom:1px solid #666666; border-top:1px solid #666666;  border-right:1px solid #666666;background:#fff; color:#5F7A77; padding:7px 0 0 25px;}

#rightPan ul.servicestwo li.captiontwo{background:#fff; color:#AC9601; font-size:14px; font-weight:bold; text-decoration:none; padding: 0 0 10px 0;}

#rightPan ul.servicestwo li{width:137px; height:20px;}
#rightPan ul.servicestwo li a{width:125px; height:20px; display:block; background:url(images/bullet2-normal.gif) 0 7px no-repeat #fff; color:#5F7A77; text-decoration:none; line-height:20px; padding:0 0 0 12px;}
#rightPan ul.servicestwo li a:hover{background:url(images/bullet2-hover.gif) 0 7px no-repeat #fff; color:#5F7A77; text-decoration:none;}

#rightPan h4{width:96px; height:77px; float:left; display:block; background:url(images/icon4.jpg) 8px 38px no-repeat #DFD79C; color:#fff; font-size:16px; font-weight:bold; line-height:18px; text-transform:uppercase; padding:46px 0 0 75px;  margin:0 0 5px 0;}

#rightPan ul.events{width:305px; height:220px; float:left; border:1px solid #666666; background:#fff; color:#5F7A77; padding:7px 0 0 25px;}

#rightPan ul.events li.captionthree{background:#fff; color:#AC9601; font-size:12px; font-weight:bold; text-decoration:none;}

#rightPan ul.events li{width:305px; height:20px;}
#rightPan ul.events li a{width:293px; height:20px; display:block; background:url(images/bullet2-normal.gif) 0 7px no-repeat #fff; color:#959595; text-decoration:underline; line-height:20px; padding:0 0 0 12px;}
#rightPan ul.events li a:hover{background:url(images/bullet2-hover.gif) 0 7px no-repeat #fff; color:#5F7A77; text-decoration:underline;}

/*----/Body Right Panel----*/
/*----Body Left Panel----*/
#leftPan{width:114px; float:left;}

#leftPan h2{width:114px; height:34px; background:#fff; color:#5F7A77; font-size:18px; line-height:34px;}

#leftPan ul{width:114px;}
#leftPan ul li{width:114px; height:24px;}
#leftPan ul li a{width:102px; height:24px; display:block; background:url(images/bullet2-normal.gif) 0 10px no-repeat #fff; color:#5F7A77; text-decoration:none; line-height:24px; padding:0 0 0 12px;}
#leftPan ul li a:hover{background:url(images/bullet2-hover.gif) 0 10px no-repeat #fff; color:#5F7A77; text-decoration:none;}
#leftPan ul li span{text-decoration:underline;}
/*----/Body Left Panel----*/
