#featured {
        height:231px;
        width:304px;
        background-image:url(http://www.remagine.com/2009/images/featured.jpg);
        background-repeat:no-repeat;

}
#featured-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        width:10px;
	color: #FFFFFF;
	font-weight: bold;
margin-left: auto;
margin-right: auto;
padding-top:5px;
width:190px;
}

H2
{font-family: Verdana, Tahoma, Arial;
 font-size: 12pt;
 font-weight: bold}

BODY
{font-family: Verdana, Tahoma, Arial;
 font-size: 8pt;
 font-weight: normal;
}
body,td,th {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	list-style-image: url(images/bullet.png);}


TABLE, TD                
{font-family:Verdana, Tahoma, Arial;
 font-size: 8pt; 
 color: #666666;}
a:link {color: #336699;
	text-decoration: none;}
a:visited {text-decoration: none;
	color: #336699;}
a:hover {text-decoration: none;
	color: #CC6600;}
a:active {text-decoration: none;
	color: #000000;}
SELECT 
{background-color: #FFFFFF; 
 color: #000000;
 font-size: 8pt;
 font-family: Verdana, Tahoma, Arial;
 font-weight: normal;}

TABLE, TD                
{font-family:Verdana, Tahoma, Arial;
 font-size: 7.5pt; 
 color: #666666;}
