H2
{font-family: Verdana, Tahoma, Arial;
 font-size: 12pt;
 font-weight: bold}

BODY
{font-family: Verdana, Tahoma, Arial;
 font-size: 8pt;
 font-weight: normal;
 scrollbar-base-color: #FFFFFF; 
 scrollbar-face-color: #E0E0E0; 
 scrollbar-track-color: #F5F5F5; 
 scrollbar-arrow-color: #747474;
 scrollbar-highlight-color: #FFFFFF; 
 scrollbar-3dlight-color: #CCCCCC; 
 scrollbar-shadow-color: #E0E0E0;
 scrollbar-darkshadow-color: #747474; 
}

SELECT 
{background-color: #FFFFFF; 
 color: #000000;
 font-size: 8pt;
 font-family: Verdana, Tahoma, Arial;
 font-weight: normal;}

TEXTAREA,.TEXTBOX,.FILE
{background-color: #FFFFFF; 
 border: #7F9DB9 1px solid; 
 color: black; 
 font-family: Verdana, Tahoma, Arial; 
 font-size: 8pt; 
 font-weight: normal;}

.SUBMIT
{background-color: #cadeee; 
 border: #7F9DB9 1px solid; 
 color: black; 
 font-family: Verdana, Tahoma, Arial; 
 font-size: 8pt; 
 font-weight: bold;}

TABLE, TR, TD                
{font-family:Verdana, Tahoma, Arial;
 font-size: 8pt; 
 color:#000000}

a:link, a:visited, a:active  
{text-decoration:underline; 
 color:#000000}
a:hover 
{text-decoration:none;
 color:#CC0000}

.wht_btn {
 font-family: Verdana, Tahoma, Arial;
 font-size: 8pt;
 font-style: normal;
 text-decoration: none;
 color:#000000;
}
.red_btn {
 font-family: Verdana, Tahoma, Arial;
 font-size: 8pt;
 font-style: normal;
 text-decoration: none;
 color:#FFFFFF;
}
